* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

section {
  width: 300px;
  margin: 0 auto;
}

form {
  width: 300px;
  margin: 0 auto;
}

label {
  width: 100%;
}

input, select {
  width: 100%;
  margin-bottom: 0.5em;
}